- if current_cart.items.count == 0
  %h1
    The cart is empty
- else
  = render 'cart/cart', is_cart_page: false

  .row
    .col-8
      .container
        .justify-content-center
          = bootstrap_form_with model: @order, class: "shadow p-3 mb-3 mt-3 bg-info rounded", local: true do |f|
            = f.hidden_field :total, value: current_cart.total, id: "form_price"
            = f.text_field :customer_name, placeholder: "Your name"
            = f.text_field :email, placeholder: "e.g. example@gmail.com"
            .row
              .col
                = f.form_group :delivery_method, label: { text: "What is your preferred delivery method?" } do
                  = f.radio_button :delivery_method, "Self-pickup",
                      checked: @order.delivery_method == 'Self-pickup' || @order.delivery_method == nil
                  = f.radio_button :delivery_method, "Delivery address",
                      checked: @order.delivery_method == 'Delivery address'
              .col{ id: 'address_section' }
                = f.text_field :delivery_address, id: 'address_field'
            = f.submit class: "btn btn-outline-light btn-lg", id: 'submit_order'
    .col-4
      .container
        .justify-content-center
          = bootstrap_form_with url: '/discount',
                                class: "shadow p-3 mb-3 mt-3 bg-info rounded", id: 'discount', local: false do |f|
            %h4
              %span.fw-bold
                Total price:
              %span{id: "total_price"}
                = number_to_currency(current_cart.total)
              %div{id: "discount_percent", hidden: current_cart.discount == 0}
                = "(-#{current_cart.discount}%)"
            %div{id: "confirm_promo", hidden: current_cart.discount != 0}
              = f.text_field :code, placeholder: "Promo code", label: "Add promo code for discount"
              = f.submit "Confirm", class: "btn btn-outline-light btn-lg", id: "submit_promo_code"