.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          Name
        %th
          Image
        %th
          Vendor code
        %th
          Price
        %th
          Amount
      %tbody
        - current_cart.cart_items.each do |item|
          %tr{id: "product_#{item.product.id}"}
            %td
              = item.product.name
            %td
              -if item.product.image.attached? && item.product.image.persisted?
                = image_tag item.product.image, size: "100x100", class: "img-fluid"
              -else
                = image_tag 'placeholder.jpg', size: "100x100", class: "img-fluid"
            %td
              = item.product.code
            %td
              = number_to_currency(item.total)
            %td{id: "count_#{item.product.id}"}
              = item.quantity

