- if @cart_items.items.count == 0
  %h1
    The cart is empty
- else
  = render 'cart/cart', is_cart_page: false

  .row
    .col-8
      .container
        .justify-content-center
          = bootstrap_form_with model: @checkout, class: "shadow p-3 mb-3 mt-3 bg-info rounded", local: true do |f|
            = f.text_field :name, placeholder: "Your name"
            = f.text_field :email, placeholder: "e.g. example@gmail.com"
            .row
              .col
                = f.form_group :delivery, label: { text: "What is your preferred delivery method?" } do
                  = f.radio_button :delivery, "Self-pickup",
                      checked: @checkout.delivery == 'Self-pickup' || @checkout.delivery == nil
                  = f.radio_button :delivery, "Delivery address", checked: @checkout.delivery == 'Delivery address'
              .col{ id: 'address_section' }
                = f.text_field :address, id: 'address_field'
            = f.submit class: "btn btn-outline-light btn-lg"
    .col-4
      .container
        .justify-content-center
          = bootstrap_form_with model: @checkout, class: "shadow p-3 mb-3 mt-3 bg-info rounded", local: true do |f|
            = f.text_field :name, placeholder: "Your name"
            = f.text_field :email, placeholder: "e.g. example@gmail.com"
            .row
              .col
                = f.form_group :delivery, label: { text: "What is your preferred delivery method?" } do
                  = f.radio_button :delivery, "Self-pickup",
                      checked: @checkout.delivery == 'Self-pickup' || @checkout.delivery == nil
                  = f.radio_button :delivery, "Delivery address", checked: @checkout.delivery == 'Delivery address'
              .col{ id: 'address_section' }
                = f.text_field :address, id: 'address_field'
            = f.submit class: "btn btn-outline-light btn-lg"