.container
  .row.justify-content-center
    .col-10
      = bootstrap_form_with model: @product, class: "shadow p-3 mb-3 bg-info rounded", local: true do |f|
        = f.text_field :name, placeholder: "Name of product", id: "product_name_field"
        .row
          .col
            = f.hidden_field :image, value: f.object.image.signed_id if f.object.image.attached?
            = f.file_field :image, direct_upload: true, accept: 'image/jpeg,image/jpg,image/png', id: "file_field"
            = f.hidden_field :delete_image_flag, value: false
            .btn.btn-outline-light{ id: "delete_button"} Delete image
          .col
            -if @product.image.attached? && @product.image.image?
              = image_tag @product.image, class: "img-fluid", id:"preview_image"
            -else
              %img.img-fluid{id: "preview_image"}

        .row
          .col
            = f.text_field :code, placeholder: "Vendor code of product", id: "code_field"
          .col
            = f.number_field :price, placeholder: "Price of product", label: "Price(USD)", id: "price_field"
        = f.text_area :description, placeholder: "Description of product", rows: 4, id: "description_field"
        %button.btn.btn-outline-light.btn-lg{"data-bs-target" => "#confirmPopup",
          "data-bs-toggle" => "modal", type: "button"}
          Cancel
        = f.submit class: "btn btn-outline-light btn-lg", id: "submit_button"

= render 'modal', page: 'form'
