.table-responsive
  %table.table.table-striped
    %thead
      %tr
        -if check_if_admin?
          %th
            = check_box_tag('check_all', 'check_all', false, onClick: "checkAll(this);")
        %th
          Name
        %th
          Image
        %th
          Vendor code
        %th
          Price
        %th
          Actions
    %tbody
      - @products.each do |product|
        %tr{id: "product_#{product.id}"}
          -if check_if_admin?
            %td
              - unless product.deleted
                = check_box_tag("check_#{product.id}", "check_#{product.id}", false, onClick: "checkOne(this);")
          %td
            = product.name
            - if product.deleted
              %span.fw-bold
                (Deleted)
          %td
            -if product.image.attached? && product.image.persisted?
              = image_tag product.image, size: "100x100", class: "img-fluid"
            -else
              = image_tag 'placeholder.jpg', size: "100x100", class: "img-fluid"
          %td
            = product.code
          %td
            = number_to_currency(product.price)
          %td
            .d-flex
              = link_to 'View product',
                check_if_admin? ? product_path(product) : user_product_path(product),
                class: 'btn btn-outline-primary me-2'
              - if check_if_admin?
                = link_to 'Edit product', edit_product_path(product), class: 'btn btn-outline-warning me-2'
                - if product.deleted
                  = button_to 'Undelete', product_undelete_path(product), method: :post, class: 'btn btn-outline-success'
              - else
                %button.btn.btn-outline-primary{ type: "button", id: "add_#{product.id}",
                                                      onclick:"add_to_cart(#{product.id});" }
                  Add to cart

.row
  .col
    -if check_if_admin?
      %button.btn.btn-lg.btn-outline-danger{"data-bs-target" => "#confirmPopup", "data-bs-toggle" => "modal",
      type: "button", id: 'delete_product', disabled: true}
        Delete Products
  .col
    .flickr_pagination.mb-4.float-end
      - if check_if_admin?
        = will_paginate @products
      - else
        = will_paginate(@products, :params => { :controller => user_product_index_path })

= render 'modal', page: 'index'


