%h1
  = @product.name
%div
  %span.fw-lighter
    Vendor code:
  = @product.code
.row.mt-2
  .col-6
    -if @product.image.attached? && @product.image.persisted?
      = image_tag @product.image, class: "img-fluid card-img-top mb-4"
    -else
      = image_tag 'placeholder.jpg', class: "img-fluid card-img-top mh-100 mb-4"
  .col-6
    %h3
      = @product.price
      $
    %button.btn.btn-outline-danger{"data-bs-target" => "#exampleModal",
    "data-bs-toggle" => "modal", type: "button"}
      Delete Product
    = link_to 'Update product', edit_product_path(@product), class: 'btn btn-outline-primary', data: {turbolinks: false}
  %div
    %h3
      Description
    -if @product.description.nil? || @product.description.empty?
      Empty
    -else
      = simple_format(@product.description)

%button.btn.btn-lg.btn-outline-danger{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", type: "button",
  id: 'delete_product', disabled: true}
  Delete Products

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Delete Products
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        Are you sure you want to delete the product?
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close
        = link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger'
