%h1
  = @product.name
%div
  %span.fw-lighter
    Vendor code:
  = @product.code
.row.mt-2
  .col-6
    -if @product.image.attached? && @product.image.persisted?
      = image_tag @product.image, class: "img-fluid card-img-top mb-4"
    -else
      = image_tag 'placeholder.jpg', class: "img-fluid card-img-top mh-100 mb-4"
  .col-6
    %h3
      = @product.price
      $
    %button.btn.btn-outline-danger{"data-bs-target" => "#confirmPopup",
    "data-bs-toggle" => "modal", type: "button"}
      Delete Product
    = link_to 'Update product', edit_product_path(@product), class: 'btn btn-outline-primary', data: {turbolinks: false}
  %div
    %h3
      Description
    -if @product.description.nil? || @product.description.empty?
      Empty
    -else
      = simple_format(@product.description)

= render 'modal', more_products: false